.main-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.image-sidebar {
    flex : 1;
    background-image: url('hannah-lim-U6nlG0Y5sfs-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.logo-container {
   position:absolute;
   top:20%;
    left: 10%;
    transform: translate(-10%, -10%);
   
}
.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-container img {
    width: 50px;
    
} 

.logo-text {
    color: white;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Archivo Black', sans-serif;
}

.credit-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.form-header h1 {
    color: #111827;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Archivo Black', sans-serif;
}

.content-area label {
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
    color:#333
}
.error-style {
    border: 1px solid #b91c1c;
    border-radius: 4px;
  
    outline:none

}

.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;

}
.input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-style:invalid:not(:placeholder-shown){
    border: 2px solid #b91c1c;
    outline:none;
}

.form-card {
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 700px;
   
}

.submit-btn {
    background-color: #2563eb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}